{% extends "base.html" %}

{% block content %}

<main class="account-hero">
    <h1 class="account-head">Account Details</h1>
    <div class="account-content">
        <div class="account-main">
            <div class="account-img-container">
                <img src="" alt="pfp" class="account-img">
            </div>
            <div class="account-main-details">
                <p class="d-cap">Name</p>
                <p class="d-text">Lorem</p>
                
                <p class="d-cap">Position</p>
                <p class="d-text">Lorem</p>

                <p class="d-cap">Ipsum</p>
                <p class="d-text">Lorem</p>

                <p class="d-cap">Ipsum</p>
                <p class="d-text">Lorem</p>
            </div>
        </div>
        <div class="account-sub">
            <div class="account-data-1">
                <div class="account-main-details">
                    <p class="d-cap">Name</p>
                    <p class="d-text">Lorem</p>
                    
                    <p class="d-cap">Position</p>
                    <p class="d-text">Lorem</p>

                    <p class="d-cap">Position</p>
                    <p class="d-text">Lorem</p>
                </div>
            </div>
            <div class="account-data-2">
                <div class="account-main-details">
                    <p class="d-cap">Name</p>
                    <p class="d-text">Lorem</p>
                    
                    <p class="d-cap">Position</p>
                    <p class="d-text">Lorem</p>
                    
                    <p class="d-cap">Position</p>
                    <p class="d-text">Lorem</p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <p class="footer-text">
        Made with ❤️ by Xino
    </p>
</footer>

{% endblock %}