{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}
{% block content %}
<section class=" rounded-lg text-gray-800">
	<div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
		<div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
			<h1 class="text-5xl font-bold leading-none sm:text-6xl">Tesla  <br>
				<span class="text-green-600 text-4xl">towards a greener future</span>
			</h1>
			<br>
			<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
				<a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold rounded bg-green-600 text-gray-50">Explore cars</a>
				<a rel="noopener noreferrer" href="#" class="px-8 py-3 text-lg font-semibold border rounded border-gray-800">Contact Us</a>
			</div>
		</div>
		
    <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
      <div class="absolute -bottom-3 left-40 w-72 h-72 bg-red-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
      <div class="absolute top-20 -left-70 w-72 h-72 bg-purple-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
      <div class="absolute -bottom-72 -left-75 w-72 h-72 bg-yellow-300 rounded-full mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
      <img src="https://images.pexels.com/photos/4014114/pexels-photo-4014114.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="object-contain rounded-lg h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
		</div>
	</div>
</section>



<h1 class="mb-4 text-3xl mx-5 font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text text-black">Our Top Selling Cars this month</span> </h1>
<main class="grid grid-cols-2 gap-5 place-items-center  ">
  
  <section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 bg-white rounded-md shadow-lg  md:max-w-2xl">
    <div class="text-indigo-500 flex flex-col justify-between">
      <img src="https://images.pexels.com/photos/12921916/pexels-photo-12921916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""  class="rounded-md"/>
      
      </div>
    </div>
    <div class="text-green-500">
      <small class="uppercase">Tesla</small>
      <a href="/products/Model%20-%20L">
      <h3 class="uppercase text-black text-2xl font-medium cursor-pointer">Model - L</h3></a>
      <h3 class="text-2xl font-semibold mb-7">$96,600</h3>
      <small class="text-black">The Model L is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </small>
      <div class="flex gap-0.5 mt-4">
        <a href="{{url_for('add', prod_id=1, name_='None')}}">
        <button id="addToCartButton" class="bg-green-600 rounded-md hover:bg-green-500 focus:outline-none transition text-white uppercase px-8 py-3">add to cart</button></a>
        <button id="likeButton" class="bg-green-600 rounded-md hover:bg-green-500 focus:outline-none transition text-white uppercase p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg>
        </button>
      </div>
    </div>
  </section>
 
  <section class="flex flex-col mx-2.5 md:flex-row gap-11 py-5 px-2 bg-white rounded-md shadow-lg  md:max-w-2xl">
    <div class="text-indigo-500 flex flex-col justify-between">
      <img src="https://images.pexels.com/photos/12921916/pexels-photo-12921916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""  class="rounded-md h-50"/>
      
      </div>
    </div>
    <div class="text-green-500">
      <small class="uppercase">Tesla </small>
      <a href="/products/Model%20-%20M">
      <h3 class="uppercase text-black text-2xl font-medium hover:cursor-pointer">Model - M</h3></a>
      <h3 class="text-2xl font-semibold mb-7">$96,600</h3>
      <small class="text-black">The Model M is the best in class electric car having a 396 mi range. Reaching top speeds of 60 mph in 1.99s. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </small>
      <div class="flex gap-0.5 mt-4">
        <a href="{{url_for('add', prod_id=2, name_='None')}}">
        <button id="addToCartButton2" class="bg-green-600 rounded-md hover:bg-green-500 focus:outline-none transition text-white uppercase px-8 py-3">add to cart</button></a>
        <button id="likeButton2" class="bg-green-600 rounded-md hover:bg-green-500 focus:outline-none transition text-white uppercase p-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
</svg>
        </button>
      </div>
    </div>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    const likeButton = document.querySelector("#likeButton");
    const addToCartButton = document.querySelector("#addToCartButton");
    likeButton.addEventListener("click", ()=>{
        likeButton.classList.toggle("text-red-400")
        
    })

    likeButton2.addEventListener("click", ()=>{
        likeButton2.classList.toggle("text-red-400")
        
    })
    
    addToCartButton.addEventListener("click", ()=>{
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Added to cart'
})
    })

    addToCartButton2.addEventListener("click", ()=>{
      const Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer)
    toast.addEventListener('mouseleave', Swal.resumeTimer)
  }
})

Toast.fire({
  icon: 'success',
  title: 'Added to cart'
})
    })

</script>

{% endblock %}
