{% extends "base.html" %}
{% block title %}
  Login
{% endblock title %}
{% block content %}
<br><br>
        <div class="flex flex-1 flex-col items-center justify-center px-10 relative">
            <!-- Login box -->
            <form action="/login" method="post">
            <div class="flex flex-1 flex-col  justify-center space-y-5 max-w-md">
              <div class="flex flex-col space-y-2 text-center">
                <h2 class="text-3xl md:text-4xl font-bold">Login</h2>
                <p class="text-md md:text-xl">Manage your account and purchase vehicles.</p>
              </div>
              <div class="flex flex-col max-w-md space-y-5">
                <input type="text" placeholder="Email"
                  class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal" name="email"/>
                <input type="password" placeholder="Password"
                  class="flex px-3 py-2 md:px-4 md:py-3 border-2 border-black rounded-lg font-medium placeholder:font-normal" name="password" />
                  <div class="text-red-600">{{mess}}</div>
                <button class="flex items-center justify-center flex-none px-3 py-2 md:px-4 md:py-3 border-2 rounded-lg font-medium border-black bg-black hover:bg-gray-900 text-white" type="submit">Login</button>
              </div>
            </div>
        </form>
    
    </main>

{% endblock %}
